<div class="login">
  <div class="card">
    <h2 class="login-header">Forgot Password</h2>
    <form
      [formGroup]="Form"
      class="login-container"
      (ngSubmit)="forgotpassword()"
    >
      <div class="form-group">
        <label>Email</label>
        <input
          type="text"
          formControlName="email"
          placeholder="Enter Email"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"
        />
        <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
          <div *ngIf="f['email'].errors['required']">Email is required</div>
          <div *ngIf="f['email'].errors['email']">Email is invalid</div>
        </div>
      </div>
      <button class="btn btn-primary">Forgot Password</button>
    </form>
  </div>
</div>
